@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --price-green: rgb(79, 126, 103);
    --cream: rgb(242, 235, 227);
    --very-dark-blue: rgb(28, 35, 43);
    --grey-text: rgb(108, 114, 137);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
}

h3, .cardContent p, .price, .addCartBtn {
    margin: 10% 0;
}

h2 {
    text-transform: uppercase;
    word-wrap: break-word;
    letter-spacing: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: var(--grey-text);
    font-size: 0.8em;
}

h3 {
    word-wrap: break-word;
    font-size: 2.4em;
    line-height: 1em;
    color: var(--very-dark-blue);
}

/* card style */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0;
    row-gap: 20px;
    column-gap: 15px;
    justify-content: center; /* could also try space-around if that looks better to you*/
}

.cardContainer::after {
    content: "";
    flex: 0 0 650px;
  }

.card {
    flex: 1 1 auto;
    display: flex;
    max-width: 650px;
}

.cardContent, .cardImage {
    flex: auto;
    min-width: 50%;
}

.cardImage img {
    width: 100%;
    min-height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    object-position: 50% 0;
    display: block;
}

.mobile {
    display: none !important;
}

.cardContent {
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding: 30px;
}

.cardContent p {
    word-wrap: break-word;
    line-height: 1.6em;
    font-family: "Montserrat";
    color: var(--grey-text);
    font-size: 14px;
    /* Cant decide about this one */
    /* letter-spacing: 1px; */ 
}

.new-price{
    font-family: "Fraunces";
    font-weight: bold;
    color: var(--price-green);	
    font-size: 2rem;
    display: inline-block;
}

.old-price {
    text-decoration-line: line-through;
    color: var(--grey-text);
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
}

.addCartBtn {
    color: rgb(255, 255, 255);
    background-color: var(--price-green);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    font-size: 1em;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}

.addCartBtn img {
    margin-right: 5%;
}

.addCartBtn:hover{
    background-color: rgb(46, 73, 60);
    transition: all 0.3s ease-in-out;
}


/* Footer */
.attribution { 
    margin: 50px 0 10px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: rgb(62, 82, 163); 
}

/* Responsive styles */
@media screen and (max-width: 575px) {
    h3, .cardContent p, .price, .addCartBtn {
        margin: 5% 0;
    }

    h3 {
        font-size: 1.8em;
    }
    
    .card {
        flex-wrap: wrap
    }

    .cardContent {
        border-radius: 0 0 10px 10px;
        padding: 20px;
    }

    .cardImage img {
        border-radius: 10px 10px 0 0 !important;
    }
    
    img.mobile {
        display: block !important;
        height: 250px;
    }

    .large-screen {
        display: none !important;
    }
}
    